@import "variables";

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
}

input[type="button" i], input[type="submit" i], input[type="reset" i] {
    -webkit-appearance: none;
}

html, body {
  width: 100%;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: var(--c-main--bkg);
  color: var(--c-text);
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
  margin-bottom: .25rem;
}

h1, h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
  font-weight: 500rem;
}

ol, ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

code {
  border-radius: .5rem;
  padding: 1rem;
  display: block;
}

.code-title {
  text-decoration: underline;
}

.right {
  float: right;
}

.left {
  float: left;
}


.hidden {
  display: none;
}

.clear {
  clear: both;
}


.notice {
  background-color: $color-base-C;
  font-size: 1.25rem;
}

.alert {
  background-color: $color-red-D;
  font-size: 1.25rem;
}

section.dashboard {
  background-color: var(--c-main--section);
}

// custom for mobile
@media (max-width: $media-mobile){
  section.dashboard {
    margin: 0;
  }
}


// custom for tablet and desktop
@media (min-width: $media-mobile){
  section.dashboard {
    margin: 1rem;
  }
}



