@import "variables";

.filter-navbar {}

.filter-navbar--link
{
  background-color: $color-base-7;
  color: $color-green-0;
  &:hover {
    background-color: $color-base-A;
  }
  margin: .25rem;
  border-radius: .25rem;
}

.filter-navbar--link.active
{
  background-color: $color-base-C;
}


// custom for mobile
@media (max-width: $media-mobile){

  .filter-navbar--link
  {
    padding: .5rem 0 .5rem 0;
    width: 100%;
    text-align: center;
  }
}

// custom for tablet and desktop
@media (min-width: $media-mobile){

  .filter-navbar--link
  {
    float: right;
    padding: .25rem 2rem .25rem 2rem;
  }

  .filter-navbar--link
  {
    float: left;
    padding: .25rem 2rem .25rem 2rem;
  }
}
