@import "variables";

.flora-week {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  h1, h2 {
    font-size: 1rem;
    text-align: center;
    color: var(--c-article--alt-text);
  }
  h3 {
    font-size: .75rem;
    color: var(--c-article--text);
    margin: .125rem 0 0 0;
    padding: 0 0 0 .125rem;
  }
  li {
    font-size: .75rem;
    margin-left: .5rem;
    color: var(--c-article--alt-text);
  }
}

.flora-day {
  display: flex;
  flex-direction: column;
  flex-grow:1;
  background-color: var(--c-article--bkg);
  margin: 1px;
  .flora-day--key {
    width: 256px;
  }
  .flora-day--deed-list {
    margin-left: .25rem;
  }
}

.flora-day--foci {
  display: flex;
}

.flora-day--graph {
  margin: auto;
}

.flora-focus {
  min-width: 2rem;
  min-height: 2rem;
  flex-grow:1;
}

.flora-position-0 {
  background: var(--c-article--header);
}

.flora-position-1 {
  background: var(--c-article--detail);
}

.flora-position-2 {
  background: var(--c-article--section);
}

.flora-position-3 {
  background: var(--c-article--nav);
}
