@import "variables";

section.foci-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

@mixin foci-container--item($bg-color, $header-color) {
  flex: 1 0 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--radius);
  overflow: hidden;
  margin: .2rem;
  color: var(--c-main--text);
  background-color: $bg-color;
  header {
    padding: .65rem .5rem .35rem 1.75rem;
    background-color: $header-color;
    h1 {
      color: var(--c-main--text);
      font-size: 1.35rem;
      text-transform: capitalize;
    }
  }
  // custom for mobile
  @media (max-width: $media-mobile){
    flex: 1 0 95%;
    margin: .25rem;
  }
  @media (min-width: $media-mobile) and (max-width: $media-tablet){
    flex: 1 0 46%;
  }
}

article.focus-article {
  @include foci-container--item(var(--c-article--bkg), var(--c-article--header));
}

article.add-focus-article {
  @include foci-container--item(var(--c-article-alt--bkg), var(--c-article-alt--header));
  min-height: 10rem;
  &:hover {
    .add-focus-button--icon {
      background-image: image-url("plus_hover-chrome.svg");
    }
  }
  header {
    .icon {
      background-color: var(--c-main--text);
    }
  }
}

.add-focus-button {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.add-focus-button--icon-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-focus-button--icon {
  background-size: 2rem 2rem;
  display: block;
  margin: 0 auto 1.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--c-main--nav-on);
  &:hover {
    background-color: var(--c-main--nav-on-hover);
  }
}

article.focus-article.form.form_small {
  padding: 0;
  margin: 1rem 1%;
}

.focus-article--button {
  background-color: var(--c-article--nav);
  border-radius: 1rem;
  font-size: .75rem;
  margin: .25rem 0 .25rem .5rem;
  padding: .25rem;
  text-align: center;
  width: 5rem;
  &:hover {
    background-color: var(--c-article--nav-hover);
    .focus-article--button-icon {
      background-image: image-url("plus_hover.svg");
    }
  }
}

.focus-article--button-icon {
  background-size: 1rem 1rem;
  display: block;
  float: right;
  height: 1rem;
  width: 1rem;
}

.focus-article--button-icon.plus {
  background-image: image-url("plus.svg");
  &:hover {
    background-image: image-url("plus_hover.svg");
  }
}

.focus-article--button-icon.minus {
  background-image: image-url("minus.svg");
  &:hover {
    background-image: image-url("minus_hover.svg");
  }
}

.focus-items {
  flex-grow: 1;
}

nav.focus-header--nav-icon {
  float: right;
}

.focus-article--icon {
  width: 22px;
  height: 22px;
  margin-right: 1.75rem;
  .icon {
    background-color: var(--c-main--icon);
  }
}

footer.focus-item--points {
  background-color: var(--c-article--footer);
  padding: .25rem 0 1rem 3rem;
}

// custom for mobile
@media (max-width: $media-mobile){
  article.focus-article {
    max-width: 100%;
    margin: 0;
  }
}


// custom for tablet and desktop
@media (min-width: $media-mobile){
  article.focus-article {
    max-width: 50%;
  }
}

