@import "variables";

article.form {
  border-radius: var(--radius);
  background-color: var(--c-form--bkg);
  color: var(--c-form--text);
  margin: 1rem auto;
  padding-top: 1rem;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  form {
    margin-bottom: 0;
  }
  input[type="checkbox"] {
    margin: .012rem;
    font-size: 2rem;
  }
}

article.form_small {
  background-color: var(--c-form--bkg);
  border-radius: var(--radius);
  margin: .5rem;
  padding: .5rem;
  input[type="checkbox"] {
    float: left;
    margin: 0.5rem .25rem 0 .75rem;
    width: 1rem;
  }
}

section.form--section {
  margin-bottom: 20px;
}

// devise:
#error_explanation {
  margin-bottom: 1rem;
  h2, ul, li {
    color: $color-red-8;
  }
  h2 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }
  ul {
    padding-left: 3rem;
  }
  li {
    list-style-type: disc;
  }
}

.form--field {
  padding: 0.5rem;
}

.form--label {
  padding: 0.5rem;
}

.form--checkbox-label {
  float: left;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

span.form--label_required {
  color: $color-red-8;
}

.form--input,
.form--input_labeled {
  width: 250px;
  font-size: 1.125rem;
  height: 2rem;
  margin: auto;
  display: block;
  border-width: 0;
}

.form--input_small {
  font-size: .75rem;
  height: 1.25rem;
  margin: 5px auto;
}

.form--button {
  width: 250px;
  font-size: 1.125rem;
  height: 2rem;
  display: block;
  margin: 1.5rem auto;
  border: none;
  background-color: var(--c-form--button);
  &:hover {
    background-color: var(--c-form--button-hover);
  }
  color: var(--c-main--text);
  border-radius: .5rem;
}

.form--button_small {
  width: 110px;
  font-size: 1rem;
  height: 1.5rem;
  margin: .75rem auto;
  border-radius: .75rem;
  padding-top: 2px;
}

.form--hint {
  text-align: right;
  color: var(--c-form--text);
  margin: 0.25rem 0.5rem 0 0;
  font-style: italic;
}

aside.form--additional {
  background-color: var(--c-form--footer);
  margin-top: 1rem;
  padding-bottom: 1rem;
  a {
    padding: .25rem .5rem;
    display: block;
  }
  border-radius: 0 0 var(--radius) var(--radius);
}

article.add-focus--form {
  header {
    padding-left: .5rem;
    h1 {
      display: flex;
    }
    button {
      background-color: var(--c-article--header);
      border-width: 0;
    }
  }
  min-height: 10rem;
}

.add-focus--form-title-input {
    height: 2rem;
    border-width: 0;
    margin: -3px 1rem;
    font-size: 1.25rem;
    flex: 1;
    background-color: var(--c-form--bkg);
}

.add-task--form {
  padding: .25rem;
  form {
    width: 100%;
    input#repeatable-check {
        width: 1rem;
    }
    input#points-input {
        width: 2rem;
    }
  }
}

.add-task--form-row {
  display: flex;
  input {
    background-color: var(--c-form--bkg);
  }
  .title-input {
    flex: 1;
  }
}

// custom for tablet and desktop
@media (min-width: $media-mobile){
  article.form {
    width: 400px;
  }
  article.form_small {
    width: auto;
  }
  .form--label {
    float: left;
  }
  .form--input_labeled {
    margin-left: 115px;
  }
}
