@import "variables";

article.form {
  border-radius: $wrapper-radius;
  background-color: $color-base-E;
  margin: 1rem auto;
  padding-top: 1rem;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  form {
    margin-bottom: 0;
  }
  input[type="checkbox"] {
    margin: .012rem;
    padding: 1rem;
    font-size: 2rem;
  }
}

section.form--section {
  margin-bottom: 20px;
}

// devise:
#error_explanation {
  margin-bottom: 1rem;
  h2, ul, li {
    color: $color-red-8;
  }
  h2 {
    font-size: 1.125rem;
    margin-bottom: 0;
  }
  ul {
    padding-left: 3rem;
  }
  li {
    list-style-type: disc;
  }
}

.form--field {
  padding: 0.5rem;
}

.form--label {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

span.form--label_required {
  color: $color-red-8;
}

.form--input,
.form--input_labeled {
  width: 250px;
  font-size: 1.125rem;
  height: 2rem;
  margin: auto;
  display: block;
}

.form--button {
  width: 250px;
  font-size: 1.125rem;
  height: 2rem;
  margin: auto;
  display: block;
}

.form--hint {
  text-align: right;
  color: $color-green-5;
  margin: 0.25rem 0.5rem 0 0;
  font-style: italic;
}

.form--button {
  margin: 1.5rem auto;
  border: none;
  background-color: $color-green-5;
  &:hover {
    background-color: $color-green-9;
  }
  color: $color-chrome-F;
  border-radius: .5rem;
}

aside.form--additional {
  background-color: $color-base-D;
  margin-top: 1rem;
  padding-bottom: 1rem;
  a {
    padding: .25rem .5rem;
    display: block;
  }
  border-radius: 0 0 $wrapper-radius $wrapper-radius;
}

// custom for tablet and desktop
@media (min-width: $media-mobile){
  article.form {
    width: 400px;
  }
  .form--label {
    float: left;
  }
  .form--input_labeled {
    margin-left: 115px;
  }
}


