@import "variables";

.graph {
  h1, h2 {
    font-size: 1rem;
    text-align: center;
    color: var(--c-article--alt-text);
  }
  h3 {
    font-size: .75rem;
    color: var(--c-article--text);
    margin: .125rem 0 0 0;
    padding: 0 0 0 .125rem;
  }
  li {
    font-size: .75rem;
    margin-left: .5rem;
    color: var(--c-article--alt-text);
  }
  .graph--key {
    width: 256px;
  }
  .graph--deed-list {
    margin-left: .25rem;
  }
}

.graph--chart {
  display: flex;
}

.graph--svg {
  margin: auto;
}

.flora-focus {
  min-width: 2rem;
  min-height: 2rem;
  flex-grow:1;
}

path.chart--color-RED {
  fill: var(--c-chart-red);
}
section.chart--color-RED {
  border-left: .75rem solid var(--c-chart-red);
}
path.chart--color-GREY {
  fill: var(--c-chart-chrome);
}
section.chart--color-GREY {
  border-left: .75rem solid var(--c-chart-chrome);
}
path.chart--color-RED {
  fill: var(--c-chart-red);
}
section.chart--color-RED {
  border-left: .75rem solid var(--c-chart-red);
}
path.chart--color-ORANGE {
  fill: var(--c-chart-orange);
}
section.chart--color-ORANGE {
  border-left: .75rem solid var(--c-chart-orange);
}
path.chart--color-BROWN {
  fill: var(--c-chart-brown);
}
section.chart--color-BROWN {
  border-left: .75rem solid var(--c-chart-brown);
}
path.chart--color-GREEN {
  fill: var(--c-chart-green);
}
section.chart--color-GREEN {
  border-left: .75rem solid var(--c-chart-green);
}
path.chart--color-BLUE {
  fill: var(--c-chart-blue);
}
section.chart--color-BLUE {
  border-left: .75rem solid var(--c-chart-blue);
}
path.chart--color-PURPLE {
  fill: var(--c-chart-purple);
}
section.chart--color-PURPLE {
  border-left: .75rem solid var(--c-chart-purple);
}
