@import "variables";

@mixin icon-image($name) {
  background-image: image-url($name + ".svg");
  &:hover {
    background-image: image-url($name + "_hover.svg");
  }
}

@mixin icon-mask($name, $default-color) {
  width: 100%;
  height: 100%;
  -webkit-mask-image: image-url($name + ".svg");
  mask-image: image-url($name + ".svg");
  background: $default-color;
  &:hover {
    -webkit-mask-image: image-url($name + "_hover.svg");
    mask-image: image-url($name + "_hover.svg");
  }
}

.icon-plus {
  @include icon-mask("plus", var(--c-text));
}

.icon-minus {
  @include icon-mask("minus", var(--c-text));
}

.icon-repeat {
  @include icon-mask("repeat", var(--c-text));
}

.icon-check-box {
  @include icon-mask("check_box", var(--c-text));
}

.icon-more {
  @include icon-mask("more", var(--c-text));
}

.icon-less {
  @include icon-mask("less", var(--c-text));
}
