@import "variables";

@mixin icon-mask($name, $default-color, $hover: false) {
  width: 100%;
  height: 100%;
  -webkit-mask-image: image-url($name + ".svg");
  mask-image: image-url($name + ".svg");
  background: $default-color;
  @if $hover == true {
    &:hover {
      -webkit-mask-image: image-url($name + "_hover.svg");
      mask-image: image-url($name + "_hover.svg");
    }
  }
}

.icon-wrapper {
  @extend %icon;
}

.icon-repeat {
  @include icon-mask("repeat", var(--c-text), true);
}

.icon-check-box {
  @include icon-mask("check_box", var(--c-text), true);
}

.icon-check-box--checked {
  @include icon-mask("check_box_checked", var(--c-text), true);
}

.icon-delete {
  @include icon-mask("delete", var(--c-text));
}

.icon-focus {
  @include icon-mask("focus", var(--c-text));
}

.icon-gripper {
  @include icon-mask("gripper", var(--c-text));
}

.icon-less {
  @include icon-mask("less", var(--c-text));
}

.icon-left-arrow {
  @include icon-mask("left_arrow", var(--c-text));
}

.icon-minus {
  @include icon-mask("minus", var(--c-text));
}

.icon-more {
  @include icon-mask("more", var(--c-text));
}

.icon-plus {
  @include icon-mask("plus", var(--c-text));
}

.icon-right-arrow {
  @include icon-mask("right_arrow", var(--c-text));
}

.icon-unfocus {
  @include icon-mask("unfocus", var(--c-text));
}
