@import "variables";

.main-navbar,
.main-navbar--profile
{
  background-color: var(--c-header--bkg);
  color: var(--c-text);
}

.main-navbar--link,
.main-navbar--link_left
{
  background-color: var(--c-header--nav);
  a {
    color: var(--c-header--text);
  }
  &:hover {
    background-color: var(--c-header--nav-hover);
  }
}

.filter-navbar {
  margin: 1rem 0 .5rem 0;
}

.filter-navbar--link {
  background-color: var(--c-main--nav-off);
}

.filter-navbar--link_active {
  background-color: var(--c-main--nav-on);
  color: var(--c-header--text);
  &:hover {
    background-color: var(--c-main--nav-on-hover);
  }
}

// custom for mobile
@media (max-width: $media-mobile){

  .main-navbar--link,
  .main-navbar--link_left,
  .main-navbar--profile
  {
    border-bottom: 2px solid $color-brown-F;
    padding: .5rem 0 .5rem 0;
    width: 100%;
    text-align: center;
  }

  .filter-navbar--link,
  .filter-navbar--link_active
  {
    .button {
      padding: .5rem 0 .5rem 0;
    }
    text-align: center;
    width: 50%;
    float: left;
  }
}

// custom for tablet and desktop
@media (min-width: $media-mobile){
  .main-navbar--link_left,
  .main-navbar--link
  {
    float: right;
    margin-left: 2px;
    padding: .5rem 2rem .5rem 2rem;
  }
  .main-navbar--link_left {
    margin: 0 2px 0 0;
  }

  .main-navbar--link_left,
  .main-navbar--profile
  {
    float: left;
    padding: .5rem 2rem .5rem 2rem;
  }

  .filter-navbar--link,
  .filter-navbar--link_active
  {
    float: left;
    margin: .25rem;
    .button {
      padding: .25rem 2rem .25rem 2rem;
      border: none;
    }
  }
}
