@import "variables";

.task-article, .task-article_completed {
  background-color: $color-base-5;
  margin: .25rem 0;
  padding: .25rem .5rem;
  display: flex;
}

.task-article_completed {
  background-color: $color-base-7;
}

.task-article--title_completed {
  text-decoration: line-through;
}

.task-article--title {
  flex-grow: 2;
  cursor: pointer;
}

.task-article--title-icon {
  @extend %icon;
  float: left;
  margin-right: .25rem;
}

.task-article--item {
  color: $color-base-F;
  font-size: .75rem;
  width: 1rem;
  height: 1rem;
  text-align: center;
  background-color: $color-base-4;
  border-radius: .25rem;
  margin: 1px 2px;
  padding: 1px;
}

.task-article--item_full {
  background-color: $color-base-6;
  border-radius: 1rem;
  padding: .125rem .25rem .125rem .25rem;
  width: 6rem;
  &:hover {
    background-color: $color-base-8;
  }
}

.task-article--icon {
  @extend %icon;
  display: block;
  float: right;
}
