@import "variables";

html.foo {

  --c-text                : #{ $color-base-2 };

  --c-header--text        : #{ $color-base-2 };
  --c-header--bkg         : #{ $color-chrome-7 };
  --c-header--nav         : #{ $color-chrome-A };
  --c-header--nav-hover   : #{ $color-chrome-C };

  --c-main--text          : #{ $color-base-D };
  --c-main--bkg           : #{ $color-chrome-4 };
  --c-main--section       : #{ $color-chrome-4 };
  --c-main--nav-on        : #{ $color-chrome-A };
  --c-main--nav-on-hover  : #{ $color-chrome-C };
  --c-main--nav-off       : #{ $color-chrome-7 };

  --c-article--text       : #{ $color-base-D };
  --c-article--header     : #{ $color-base-2 };
  --c-article--bkg        : #{ $color-base-7 };
  --c-article--section    : #{ $color-base-5 };
  --c-article--detail     : #{ $color-base-4 };
  --c-article--nav        : #{ $color-base-6 };
  --c-article--nav-hover  : #{ $color-base-4 };
  --c-article--icon-wrap  : #{ $color-base-8 };
  --c-article--icon-hover : #{ $color-base-A };
  --c-article--icon       : #{ $color-base-2 };
  --c-article--footer     : #{ $color-base-4 };

  --c-article-alt--header : #{ $color-chrome-7 };
  --c-article-alt--bkg    : #{ $color-chrome-8 };
}

html {
  --c-text                : #{ grey };

  --c-header--text        : #{ blue };
  --c-header--bkg         : #{ #FFF };
  --c-header--nav         : #{ #FFF };
  --c-header--nav-hover   : #{ #FFF };

  --c-main--text          : #{ black };
  --c-main--bkg           : #{ #FFF };
  --c-main--section       : #{ #FFF };
  --c-main--nav-on        : #{ #FFF };
  --c-main--nav-on-hover  : #{ #FFF };
  --c-main--nav-off       : #{ #FFF };

  --c-article--text       : #{ #FFF };
  --c-article--header     : #{ #FFF };
  --c-article--bkg        : #{ #FFF };
  --c-article--section    : #{ #FFF };
  --c-article--detail     : #{ #FFF };
  --c-article--nav        : #{ #FFF };
  --c-article--nav-hover  : #{ #FFF };
  --c-article--icon-wrap  : #{ #FFF };
  --c-article--icon-hover : #{ #FFF };
  --c-article--icon       : #{ #FFF };
  --c-article--footer     : #{ #FFF };

  --c-article-alt--header : #{ #FFF };
  --c-article-alt--bkg    : #{ #FFF };
}
