$radius: .25rem;

// Colors

$color-base-0: hsl(25, 50%, 3%);
$color-base-1: hsl(25, 50%, 10%);
$color-base-2: hsl(25, 50%, 15%);
$color-base-4: hsl(25, 50%, 22%);
$color-base-5: hsl(25, 50%, 31%);
$color-base-6: hsl(25, 50%, 38%);
$color-base-7: hsl(25, 50%, 47%);
$color-base-8: hsl(30, 60%, 60%);
$color-base-9: hsl(35, 75%, 72%);
$color-base-A: hsl(35, 100%, 81%);
$color-base-C: hsl(38, 100%, 89%);
$color-base-D: hsl(40, 100%, 92%);
$color-base-F: hsl(48, 100%, 95%);

$color-chrome-0: hsl(0, 0%, 0%);
$color-chrome-1: hsl(0, 0%, 10%);
$color-chrome-2: hsl(0, 0%, 15%);
$color-chrome-3: hsl(0, 0%, 18%);
$color-chrome-4: hsl(0, 0%, 27%);
$color-chrome-5: hsl(0, 0%, 33%);
$color-chrome-6: hsl(0, 0%, 40%);
$color-chrome-7: hsl(0, 0%, 47%);
$color-chrome-8: hsl(0, 0%, 53%);
$color-chrome-9: hsl(0, 0%, 60%);
$color-chrome-A: hsl(0, 0%, 67%);
$color-chrome-C: hsl(0, 0%, 80%);
$color-chrome-D: hsl(0, 0%, 87%);
$color-chrome-F: hsl(43, 100%, 99%);

$color-green-0: hsl(85, 65%, 7%);
$color-green-2: hsl(82, 66%, 20%);
$color-green-4: hsl(82, 66%, 27%);
$color-green-5: hsl(82, 85%, 31%);
$color-green-7: hsl(82, 85%, 37%);
$color-green-9: hsl(92, 48%, 54%);
$color-green-A: hsl(82, 59%, 53%);
$color-green-C: hsl(82, 79%, 67%);

$color-blue-5: hsl(205, 95%, 50%);

$color-purple-4: hsl(275, 75%, 50%);

$color-red-4: hsl(0, 70%, 50%);
$color-red-7: hsl(0, 80%, 60%);
$color-red-A: hsl(0, 100%, 67%);
$color-red-D: hsl(0, 100%, 94%);

$color-orange-4: hsl(25, 95%, 50%);

// Media Query Sizes
$media-mobile:  640px;
$media-tablet:  1024px;

// Placeholder Classes

%icon {
 background-size: 1rem 1rem;
 height: 1rem;
 width: 1rem;
 border-radius: 50%;
}
