@import "variables";

html[data-theme='DARK'] {
  --radius     : 0;
  --c-text                : #{ $color-green-5 };

  --c-header--text        : #{ $color-chrome-F };
  --c-header--bkg         : #{ $color-chrome-0 };
  --c-header--nav         : #{ $color-chrome-4 };
  --c-header--nav-hover   : #{ $color-chrome-7 };

  --c-main--text          : #{ $color-chrome-F };
  --c-main--bkg           : #{ $color-chrome-0 };
  --c-main--section       : #{ $color-chrome-0 };
  --c-main--nav-on        : #{ $color-chrome-4 };
  --c-main--nav-on-hover  : #{ $color-chrome-7 };
  --c-main--nav-off       : #{ $color-chrome-0 };
  --c-main--icon          : #{ $color-green-7 };

  --c-article--text       : #{ $color-chrome-F };
  --c-article--header     : #{ $color-chrome-2 };
  --c-article--bkg        : #{ $color-chrome-3 };
  --c-article--section    : #{ $color-chrome-1 };
  --c-article--detail     : #{ $color-chrome-0 };
  --c-article--nav-hover  : #{ $color-chrome-0 };
  --c-article--icon-wrap  : #{ $color-chrome-0 };
  --c-article--icon-hover : #{ $color-chrome-0 };
  --c-article--icon       : #{ $color-green-9 };
  --c-article--footer     : #{ $color-chrome-1 };

  --c-article-alt--header : #{ $color-chrome-1 };
  --c-article-alt--bkg    : #{ $color-chrome-1 };

  --c-form--text          : #{ $color-chrome-0 };
  --c-form--bkg           : #{ $color-chrome-9 };
  --c-form--footer        : #{ $color-chrome-8 };
  --c-form--button        : #{ $color-chrome-2 };
  --c-form--button-hover  : #{ $color-green-5 };

  --c-chart-chrome        : #{ $color-chrome-5 };
  --c-chart-red           : #{ $color-red-4 };
  --c-chart-orange        : #{ $color-orange-7 };
  --c-chart-brown         : #{ $color-brown-5 };
  --c-chart-green         : #{ $color-green-7 };
  --c-chart-blue          : #{ $color-blue-5 };
  --c-chart-purple        : #{ $color-purple-4 };

  article.focus-article[data-theme='RED'] {
    --c-article--header     : #{ $color-red-3 };
    --c-article--bkg        : #{ $color-red-2 };
    --c-article--section    : #{ $color-red-0 };
    --c-main--icon          : #{ $color-red-7 };
    --c-article--icon       : #{ $color-red-7 };
    --c-article--footer     : #{ $color-red-0 };
  }
  article.focus-article[data-theme='ORANGE'] {
    --c-article--header     : #{ $color-orange-6 };
    --c-article--bkg        : #{ $color-orange-4 };
    --c-article--section    : #{ $color-orange-1 };
    --c-main--icon          : #{ $color-orange-4 };
    --c-article--icon       : #{ $color-orange-7 };
    --c-article--footer     : #{ $color-orange-1 };
  }
  article.focus-article[data-theme='BROWN'] {
    --c-article--header     : #{ $color-brown-2 };
    --c-article--bkg        : #{ $color-brown-4 };
    --c-article--section    : #{ $color-brown-1 };
    --c-article--footer     : #{ $color-brown-1 };
  }
  article.focus-article[data-theme='BLUE'] {
    --c-article--header     : #{ $color-blue-3 };
    --c-article--bkg        : #{ $color-blue-2 };
    --c-article--section    : #{ $color-blue-0 };
    --c-article--footer     : #{ $color-blue-0 };
  }
  article.focus-article[data-theme='GREEN'] {
    --c-article--header     : #{ $color-green-4 };
    --c-article--bkg        : #{ $color-green-2 };
    --c-article--section    : #{ $color-green-0 };
    --c-article--footer     : #{ $color-green-0 };
  }
  article.focus-article[data-theme='PURPLE'] {
    --c-article--header     : #{ $color-purple-2 };
    --c-article--bkg        : #{ $color-purple-1 };
    --c-main--icon          : #{ $color-purple-1 };
    --c-article--section    : #{ $color-purple-0 };
    --c-article--footer     : #{ $color-purple-0 };
  }
}
