@import "variables";

html {
  --radius                : 0;
  --c-text                : grey;

  --c-header--text        : hsl(190, 90%, 20%);
  --c-header--bkg         : #{ $color-blue-E };
  --c-header--nav         : #{ $color-blue-E };
  --c-header--nav-hover   : white;

  --c-main--text          : black;
  --c-main--bkg           : white;
  --c-main--section       : white;
  --c-main--nav-on        : #{ $color-blue-B };
  --c-main--nav-on-hover  : #{ $color-blue-D };
  --c-main--nav-off       : #{ $color-blue-D };
  --c-main--icon          : grey;

  --c-article--text       : black;
  --c-article--header     : #{ $color-blue-D };
  --c-article--bkg        : #{ $color-blue-F };
  --c-article--section    : white;
  --c-article--detail     : #{ $color-blue-D };
  --c-article--nav        : #{ $color-blue-F };
  --c-article--nav-hover  : white;
  --c-article--icon-wrap  : #{ $color-brown-F };
  --c-article--icon-hover : white;
  --c-article--icon       : grey;
  --c-article--footer     : #{ $color-blue-E };
  --radius     : 0;

  --c-article-alt--header : #{ $color-blue-E };
  --c-article-alt--bkg    : #{ $color-blue-F };

  --c-form--text          : grey;
  --c-form--bkg           : #{ $color-blue-E };
  --c-form--footer        : #{ $color-blue-E };
  --c-form--button        : #{ $color-blue-B };
  --c-form--button-hover  : #{ $color-blue-A };

  --c-chart-chrome        : #{ $color-chrome-9 };
  --c-chart-red           : #{ $color-red-A };
  --c-chart-orange        : #{ $color-orange-7 };
  --c-chart-brown         : #{ $color-brown-A };
  --c-chart-green         : #{ $color-green-A };
  --c-chart-blue          : #{ $color-blue-5 };
  --c-chart-purple        : #{ $color-purple-4 };
}


html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
