html[data-theme='TEST'] {
  --radius     : 0;
  --c-text                : grey;

  --c-header--text        : blue;
  --c-header--bkg         : white;
  --c-header--nav         : white;
  --c-header--nav-hover   : white;

  --c-main--text          : black;
  --c-main--bkg           : white;
  --c-main--nav-on        : white;
  --c-main--nav-on-hover  : white;
  --c-main--nav-off       : white;
  --c-main--icon          : grey;

  --c-article--text       : black;
  --c-article--header     : #DDDDDD;
  --c-article--bkg        : white;
  --c-article--section    : white;
  --c-article--detail     : white;
  --c-article--icon-wrap  : white;
  --c-article--icon       : grey;
  --c-article--footer     : white;
  --radius     : 0;

  --c-article-alt--header : white;
  --c-article-alt--bkg    : white;

  --c-form--button        : #DDDDDD;
  --c-form--bkg           : #EEEEEE;

  article.focus[data-theme='RED'] {
    --c-article--header     : #DDDDDD;
    --c-article--bkg        : white;
    --c-article--footer     : white;
  }
  article.focus[data-theme='ORANGE'] {
    --c-article--header     : #DDDDDD;
    --c-article--bkg        : white;
    --c-article--footer     : white;
  }
  article.focus[data-theme='BROWN'] {
    --c-article--header     : #DDDDDD;
    --c-article--bkg        : white;
    --c-article--footer     : white;
  }
  article.focus[data-theme='BLUE'] {
    --c-article--header     : #DDDDDD;
    --c-article--bkg        : white;
    --c-article--footer     : white;
  }
  article.focus[data-theme='GREEN'] {
    --c-article--header     : #DDDDDD;
    --c-article--bkg        : white;
    --c-article--footer     : white;
  }
  article.focus[data-theme='PURPLE'] {
    --c-article--header     : #DDDDDD;
    --c-article--bkg        : white;
    --c-article--footer     : white;
  }
}
